.postulaciones {
    overflow-y: scroll;
    grid-row: 2 / 8;
    grid-column: 2 / 5;
    max-height: 100%; /* Altura máxima - altura del encabezado y el pie de página */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post {
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    border-radius: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
}


@media screen and (max-width: 6200px) {
    .post {
        width:calc(300px + 10px);
    }
    .postulaciones{
        grid-column: 2 / 22;
    }
}

@media screen and (max-width: 5200px) {
    .post {
        width:calc(10vh + 3px);
    }
    .postulaciones{
        grid-column: 2 / 21;
    }
}
@media screen and (max-width: 4100px) {
    .post {
        width:250px;
    }
        .postulaciones{
        grid-column: 2 / 15;
    }
}
@media screen and (max-width:2700px) {
    .post {
        width:250px;
    }
        .postulaciones{
        grid-column: 2 / 11;
    }
}


@media screen and (max-width: 2000px) {
    .post {
        width: calc(22%);
    }
    .postulaciones{
        grid-column: 2 /9;
    }
}

@media screen and (max-width: 1700px) {
    .post {
        width: calc(30%);
    }
        .postulaciones{
        grid-column: 2 / 8;
    }
}

@media screen and (max-width: 1500px) {
    .post {
        width: calc(45%);
    }
    .postulaciones{
        grid-column: 2 / 6;
    }
}
@media screen and (max-width: 1200px) {
    .post {
        width: calc(100vw);
    }
    .postulaciones{
        grid-column: 2 / 5;
    }
}

@media screen and (max-width:900px) {
    .post {
        width: calc(100%);
    }
    .postulaciones{
        grid-column: 2 / 3;
    }
}


